<!DOCTYPE html>
<html>
  <%- include('../partials/head') -%>
  <body>
    <%- include('../partials/menu') -%>

    <div class="container mt-5">
      <h1><%= title %></h1>
      <p>If password = "hscc" then user is admin, else user is regular.</p>
      <p>This is just for demo purposes since we don't have a database or user storage yet.</p>
    </div>
  </body>
</html>